*{
	margin: 0;
	padding: 0;
}

._1sp{
	width: 265px;
	/*height: 400px;*/
}
.tren{
	width: 265px;
	position: relative;
	margin-bottom: 20px;	
}
.layer1{
	width: 265px;
	margin-bottom: 8px;
}

.layer2{
	width: 265px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: 0.6s;
}
.icon{
	width: 260px;
	position: absolute;
	top:0;
	z-index: 2;
	text-align: right;

}
.nho{
	padding-bottom: 8px;
	padding-top: 7px;
	transform: scale(0);
	transition: 0.6s;
	font-size: 20px;

}

._1sp:hover .layer2{
	opacity: 1;
}

._1sp:hover .nho{
	transform: scale(1);
}
.td{
	/*text-decoration: none;*/
	color: #2f2e2e;
	font-size: 17px;
	font-family: segoe ui light;
}
.nho1{
	padding-right: 10px;
}
.lop1{
	color: gray;	
	font-family: segoe ui light;
	margin-bottom: 6px;

	position: absolute;
	font-size: 18.5px;
	/*bottom: 22px;*/
	top: 0;
	left: 0;
	z-index: 3;
	transition: 0.3s;
}

.lop2{
	font-size: 18px;
	position: absolute;
	/*bottom: 0px;*/
	top: 22px;
	left: 0;
	z-index: 4;
	opacity: 0;
	transition: 0.3s;

}
.maudo {
	width: 18px;
	height: 18px;
	background-color: red;
	border-radius: 50%;

	position: absolute;
	top: 0;
	right: 30px;
	z-index: 5;

}
.mauxanh{	
	width: 18px;
	height: 18px;
	background-color: green;
	border-radius: 50%;

	position: absolute;
	top: 0;
	right: 0;
	z-index: 6;

}

.duoi{
	width: 265px;
	height: 100px;
	position: relative;
}
.cart{
	text-decoration: none;
	color: black;
}
._1sp:hover .lop1{
	/*bottom: 45px;*/
	top: -22px;

	opacity: 0;
}

._1sp:hover .lop2{
	/*bottom: 23px;*/
	top: 0;
	opacity: 1;
}


/*.phai{
	text-align: right;
}*/