*{
	margin: 0;
	padding: 0;
}
.tren1{
	width: 475px;
	height: 106px;
	background-image: url(8.1.jpg);
	background-size: cover;
	padding-top: 256px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.tren2{
	width: 475px;
	height: 362px;
	float: left;
	position: relative;
}
img{
	width: 475px;
	height: 362px;
}
.tdtren{
	text-decoration: none;
	font-family: tahoma;
	color: white;
	font-size: 20px;
	padding-bottom: 6px;
	display: block;
}
.ndtren{font-family: tahoma;
	color: white;
	font-size: 12.5px;
}
.chu1{
	background-color: #00000094;
	padding: 10px 10px;
}
.chu2{
	background-color: #00000094;
	padding: 10px 10px;
	position: absolute;
	left: 0;
	bottom: 0;

}