/* Cach 1
. Tai font ve
. Coppy vao file dang lam
. Vao file css lam nhu ben duoi voi font-family la dat ten chu
*/
@font-face{
	src:url(ALBED___.TTF);
	font-family: chumoi1;
}
@font-face{
	src:url(BARBATRI.TTF);
	font-family: chumoi2;
}
/*Cach 2
. Chon select this font tu font chu
. Ben vao thanh den chon CUSTOMIZE roi chon font ua thich
. Chon EMBED coppy link roi past vao file html phan head
. Su dung ten font theo quy dinh trong phan Specify in CSS
*/
.h2{
	font-family: 'Lato', sans-serif;
}
.h2:hover{
	font-family: chumoi1;
	color: red;
	transition: 1s;
}
h1{
	font-family: chumoi1;
}
p{
	font-family: chumoi2;
	font-size: 60px;
}
p:hover{
	font-family:'Lato', sans-serif ;
	color: green;
	transition: 1s;
}


