*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.nguyenkhoi{
	width: 300px;
	border: 1px solid gray;
	position:  absolute;
	left: 50%;
	top:  70px;
	transform: translate(-50%,-50%);
}
.tren{
	display: flex;
	background-color: lightblue;
}
.duoi1, .duoi2{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	position: fixed;

	
}
.link{
	display: block;
	padding-left: 25px;
	padding-bottom: 5px;
	position: relative;
	font-size: 13px;
	font-family: tahoma;

}
i{
	font-size: 6px;
	color: gray;
	display: block;
	margin-right: 10px;
	position: absolute;
	left: 10px;
	top: 8px;
}
.trai{
	width: 125.5px;
	border-right: 2px solid black;
	padding-left: 23.5px;
	padding-top: 7px;
	padding-bottom: 7px;

}
.phai{
	padding-left: 45px;	
	padding-top: 7px;
	padding-bottom: 7px;
}
.tdp{
	color: gray;
}
.tdt{
	color: orange;
}
.tdt:hover,.tdp:hover{
	color: orange;
}
.link:hover{
	color: orange;
}
.cam{
	color: orange;
}
.xam{
	color: gray;
}