*{
    margin:0;
    padding:0;
}
.wrapper{
    width:700px;
    margin: 0 auto;
    text-align: center; 
}
.wrapper .header ul li a{
    text-decoration:none;
    color:black;

}
.wrapper .header ul{
list-style:none;
display:inline-block;
}
.wrapper .header ul li{
    float:left;
    padding:10px 25px;
}
.wrapper .header{ 
  background:red;
  height: 50px;
}

.wrapper .footer{
      background:red;
      padding: 10px 0;
      
}
  .wrapper .content{
      background:blue;
      height: 500px;
      padding-top: 20px;
 
  }