*{
	margin: 0;
	padding: 0;
}

.tinanh{
	width: 340px;
	/*display: block;*/
	position: relative;
	margin: auto;
}

img{
	width: 340px;
}

.tieude{
	width: 320px;
	color: white;
	text-decoration: none;
	background-color: #00000054;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 20px 10px;
}