.tieude{
	border-bottom: 8px solid #E4312C;
	margin-top: -37px;
	margin-bottom: 15px;
	width: 794px;

}

.tieude h2{
	font-family: 'Noto Sans', sans-serif;
	margin-bottom: -20px;
	background: white;
	display: inline-block;
	position: relative;
	top: 12px;
	left: 20px;
	padding-right: 10px;
	padding-left: 10px;
	color: #FF9800;

}
.nho{
	width: 191px;
	height: 215px;
	margin-right: 10px;
	float: left;

}
img{
	width: 191px;
}
a.tin{
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	font-size: 13px;
	color: #414141;
	font-weight: bold;
	display: block;
	padding-top:4px;
	padding-left: 4px;
}
.cucto{
	width: 804px;
}