* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.wrapper .header ul li a {
    text-decoration: none;
    color: black;
}

.wrapper .header ul {
    list-style: none;
    display: inline-block;
}

.wrapper .header ul li {
    float: left;
    padding: 10px 25px;
}

.wrapper .header {
    background: red;
    height: 50px;
}

.wrapper .footer {
    background: red;
    padding: 10px 0;
}

.wrapper .content {
    height: 500px;
    padding-top: 20px;
}

table {
    width: 100%;
}


/* ---- */

.div-paging {
    float: right;
}

.div-paging ul {
    list-style: none;
}

.div-paging ul li {
    float: left;
    padding: 5px 10px;
    border: 1px solid black;
    margin: 20px 3px;
}

.div-paging ul li a {
    text-decoration: none;
    display: inline-block;
    color: black;
}