

a.linkkhac {
    display: block;
    font-size: 12px;
    text-decoration: none;
    font-family: tahoma;
    font-weight: bold;
    padding-bottom: 10px;
    background-image: url(icon.png);
    color: #cb3942;
    background-repeat: no-repeat;
    background-position: 339px top;
    padding-left: 363px;
}

p {
    margin: 11px 0;
    margin: 0px;
    font-size: 14px;
    font-family: tahoma;
    margin: 11px 0;
}

a._2tiin {
    color: #cb3941;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
article._1tiin{
    width:620px;
    height: 250px;
}
img{
    width: 325px;
    float:left;
    margin-right:20px;
    height: 232px;
}
