.to{
	width: 400px;
	height: 300px;
	position: relative;
}
.layer1{
	width: 400px;
	height: 300px;
}
.layer2{
	width: 400px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #544598;

	font-family: segoe ui light;
	/*text-align: center;*/
	/*padding-top: 90px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	

	opacity: 0;
	transition: 0.3s;
	}

.tacgia{
	color: #ea524b;
}

.tieude{
	color: white;
	font-weight: bold;
	font-size: 16px;
	
}

.nut{
	text-decoration: none;
	color: white;
	background-color: #ea524b;
	padding: 5px 10px;
}

.to:hover .layer2{
	opacity: 1;
	top: 20px;
	left: 20px;

}