*{
	margin: 0;
	padding: 0;
}
.bannerto{
	background-image: url(2.jpg);
	background-position: center;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-size: cover;

}
html, body{
	width: 100%;
	height: 100%;
}
.khungnoidung{
	color: white;
	width: 400px;
	height: 100px;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;

}